*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
/dist/
/build/
src/java/DHIS2/dhisconfig.java
build/web/Access_Rights.jsp
build/web/addUsers.jsp
build/web/allstaticreports.jsp
build/web/assets/css/style.css
build/web/blanktemplate.jsp
build/web/datimReport.jsp
build/web/DQA.jsp
build/web/dynamic731.jsp
build/web/editFacility.jsp
build/web/editProfile.jsp
build/web/Form731.jsp
build/web/gapanalysis.jsp
build/web/home.jsp
build/web/images/aphia_logo.png
build/web/index.jsp
build/web/load711.jsp
build/web/load_eid_positive.jsp
build/web/load_eid_tested.jsp
build/web/loadAccessDataBase.jsp
build/web/loadExcel.jsp
build/web/loadGender.jsp
build/web/loadKEPMS.jsp
build/web/loadKmmp.jsp
build/web/loadnew711.jsp
build/web/loadnew731.jsp
build/web/loadNutrition.jsp
build/web/loadsgbv.jsp
build/web/loadTb.jsp
build/web/loadTBExcel.jsp
build/web/loadViralLoad.jsp
build/web/loadviralloadraw.jsp
build/web/loadVmmc.jsp
build/web/masterlist.jsp
build/web/menu/menu.html
build/web/rawdata.jsp
build/web/rawdata1.jsp
build/web/reportsTracker.jsp
build/web/staticFormData.jsp
build/web/sync_eid.jsp
build/web/sync_tb.jsp
build/web/sync_viral_load.jsp
build/web/T1FORM.jsp
build/web/test.jsp
build/web/upload_tb_raw_data.jsp
build/web/verificationreport.jsp
build/web/WEB-INF/web.xml
src/java/DHIS2/dhisconfig.java
