<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>loadMOH731</servlet-name>
        <servlet-class>moh731.loadMOH731</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadFacilities</servlet-name>
        <servlet-class>General.loadFacilities</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatedbpword</servlet-name>
        <servlet-class>database.updatedbpword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sessionsHolder</servlet-name>
        <servlet-class>General.sessionsHolder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadMonth</servlet-name>
        <servlet-class>General.loadMonth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadYear</servlet-name>
        <servlet-class>General.loadYear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>InternalSystem.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>load731</servlet-name>
        <servlet-class>InternalSystem.load731</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>save731</servlet-name>
        <servlet-class>InternalSystem.save731</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>load711</servlet-name>
        <servlet-class>InternalSystem.load711</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>save711</servlet-name>
        <servlet-class>InternalSystem.save711</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadVmmc</servlet-name>
        <servlet-class>InternalSystem.loadVmmc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveVmmc</servlet-name>
        <servlet-class>InternalSystem.saveVmmc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadNutrition</servlet-name>
        <servlet-class>InternalSystem.loadNutrition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveNutrition</servlet-name>
        <servlet-class>InternalSystem.saveNutrition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadKmmp</servlet-name>
        <servlet-class>InternalSystem.loadKmmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveKmmp</servlet-name>
        <servlet-class>InternalSystem.saveKmmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadGender</servlet-name>
        <servlet-class>InternalSystem.loadGender</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveGender</servlet-name>
        <servlet-class>InternalSystem.saveGender</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadTb</servlet-name>
        <servlet-class>InternalSystem.loadTb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveTb</servlet-name>
        <servlet-class>InternalSystem.saveTb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadHei</servlet-name>
        <servlet-class>InternalSystem.loadHei</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveHei</servlet-name>
        <servlet-class>InternalSystem.saveHei</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadForms</servlet-name>
        <servlet-class>General.loadForms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatefacilitysession</servlet-name>
        <servlet-class>General.updatefacilitysession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validate731</servlet-name>
        <servlet-class>InternalSystem.validate731</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUsers</servlet-name>
        <servlet-class>InternalSystem.addUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfile</servlet-name>
        <servlet-class>InternalSystem.updateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validateGender</servlet-name>
        <servlet-class>InternalSystem.validateGender</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validateNutrition</servlet-name>
        <servlet-class>InternalSystem.validateNutrition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validateKmmp</servlet-name>
        <servlet-class>InternalSystem.validateKmmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validateVmmc</servlet-name>
        <servlet-class>InternalSystem.validateVmmc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validate711</servlet-name>
        <servlet-class>InternalSystem.validate711</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validateTb</servlet-name>
        <servlet-class>InternalSystem.validateTb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validateHei</servlet-name>
        <servlet-class>InternalSystem.validateHei</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadCounty</servlet-name>
        <servlet-class>General.loadCounty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadSubcounty</servlet-name>
        <servlet-class>General.loadSubcounty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadEditFacility</servlet-name>
        <servlet-class>General.loadEditFacility</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveEditedFacilities</servlet-name>
        <servlet-class>General.saveEditedFacilities</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeFacilitySession</servlet-name>
        <servlet-class>General.changeFacilitySession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readbaselines</servlet-name>
        <servlet-class>General.readbaselines</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>monthyearsession</servlet-name>
        <servlet-class>General.monthyearsession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadDQA</servlet-name>
        <servlet-class>InternalSystem.loadDQA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moh731_Facility</servlet-name>
        <servlet-class>reports.moh731_Facility</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>errors731</servlet-name>
        <servlet-class>General.errors731</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allStaticReports</servlet-name>
        <servlet-class>reports.allStaticReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DQA711</servlet-name>
        <servlet-class>InternalSystem.DQA711</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setFormSession</servlet-name>
        <servlet-class>General.setFormSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moh711_Facility</servlet-name>
        <servlet-class>reports.moh711_Facility</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadReportedForms</servlet-name>
        <servlet-class>reportsAjax.loadReportedForms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadQuarter</servlet-name>
        <servlet-class>reportsAjax.loadQuarter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moh731_district</servlet-name>
        <servlet-class>reports.moh731_district</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moh711_StaticReport</servlet-name>
        <servlet-class>reports.moh711_StaticReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staticReportExcel731</servlet-name>
        <servlet-class>reports.staticReportExcel731</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moh731_subSection</servlet-name>
        <servlet-class>reports.moh731_subSection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadDistricts</servlet-name>
        <servlet-class>reports.loadDistricts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadFacils</servlet-name>
        <servlet-class>reports.loadFacils</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadAllForms</servlet-name>
        <servlet-class>reports.loadAllForms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadSubSection</servlet-name>
        <servlet-class>reports.loadSubSection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadSection</servlet-name>
        <servlet-class>reports.loadSection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sectionsReport</servlet-name>
        <servlet-class>reports.sectionsReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pdf731</servlet-name>
        <servlet-class>reports.pdf731</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadReportingPeriod</servlet-name>
        <servlet-class>General.loadReportingPeriod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadSemiAnnual</servlet-name>
        <servlet-class>General.loadSemiAnnual</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadQuarters</servlet-name>
        <servlet-class>General.loadQuarters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kmmppdf</servlet-name>
        <servlet-class>reports.kmmppdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excelstaticreports</servlet-name>
        <servlet-class>reports.excelstaticreports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kmmpexcel</servlet-name>
        <servlet-class>reports.kmmpexcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vmmcpdf</servlet-name>
        <servlet-class>reports.Vmmcpdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vmmcexcel</servlet-name>
        <servlet-class>reports.vmmcexcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>genderpdf</servlet-name>
        <servlet-class>reports.genderpdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>genderexcel</servlet-name>
        <servlet-class>reports.genderexcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nutritionpdf</servlet-name>
        <servlet-class>reports.nutritionpdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nutritionexcel</servlet-name>
        <servlet-class>reports.nutritionexcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertyearmonth</servlet-name>
        <servlet-class>reports.insertyearmonth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tbpdf</servlet-name>
        <servlet-class>reports.tbpdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moh711_excelReport</servlet-name>
        <servlet-class>reports.moh711_excelReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tb_excelReport</servlet-name>
        <servlet-class>reports.tb_excelReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportsTracker731</servlet-name>
        <servlet-class>reports.reportsTracker731</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>datimReport</servlet-name>
        <servlet-class>Datim.datimReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cleanCumulatives</servlet-name>
        <servlet-class>General.cleanCumulatives</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>datimHTCReport</servlet-name>
        <servlet-class>Datim.datimHTCReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allformsreportstracker</servlet-name>
        <servlet-class>reports.allformsreportstracker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>datimvmmc</servlet-name>
        <servlet-class>Datim.datimvmmc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>datimPMTCT</servlet-name>
        <servlet-class>Datim.datimPMTCT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadPMTCT_FO</servlet-name>
        <servlet-class>LoadExcels.loadPMTCT_FO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verificationreports</servlet-name>
        <servlet-class>reports.verificationreports</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>kmmppdf</servlet-name>
        <url-pattern>/kmmppdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadMOH731</servlet-name>
        <url-pattern>/loadMOH731</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadFacilities</servlet-name>
        <url-pattern>/loadFacilities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatedbpword</servlet-name>
        <url-pattern>/updatedbpword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sessionsHolder</servlet-name>
        <url-pattern>/sessionsHolder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadMonth</servlet-name>
        <url-pattern>/loadMonth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadYear</servlet-name>
        <url-pattern>/loadYear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>load731</servlet-name>
        <url-pattern>/load731</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>save731</servlet-name>
        <url-pattern>/save731</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>load711</servlet-name>
        <url-pattern>/load711</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>save711</servlet-name>
        <url-pattern>/save711</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadVmmc</servlet-name>
        <url-pattern>/loadVmmc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveVmmc</servlet-name>
        <url-pattern>/saveVmmc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadNutrition</servlet-name>
        <url-pattern>/loadNutrition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveNutrition</servlet-name>
        <url-pattern>/saveNutrition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadKmmp</servlet-name>
        <url-pattern>/loadKmmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveKmmp</servlet-name>
        <url-pattern>/saveKmmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadGender</servlet-name>
        <url-pattern>/loadGender</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveGender</servlet-name>
        <url-pattern>/saveGender</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadTb</servlet-name>
        <url-pattern>/loadTb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveTb</servlet-name>
        <url-pattern>/saveTb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadHei</servlet-name>
        <url-pattern>/loadHei</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveHei</servlet-name>
        <url-pattern>/saveHei</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadForms</servlet-name>
        <url-pattern>/loadForms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatefacilitysession</servlet-name>
        <url-pattern>/updatefacilitysession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validate731</servlet-name>
        <url-pattern>/validate731</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUsers</servlet-name>
        <url-pattern>/addUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfile</servlet-name>
        <url-pattern>/updateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateGender</servlet-name>
        <url-pattern>/validateGender</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateNutrition</servlet-name>
        <url-pattern>/validateNutrition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateKmmp</servlet-name>
        <url-pattern>/validateKmmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateVmmc</servlet-name>
        <url-pattern>/validateVmmc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validate711</servlet-name>
        <url-pattern>/validate711</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateTb</servlet-name>
        <url-pattern>/validateTb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateHei</servlet-name>
        <url-pattern>/validateHei</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadCounty</servlet-name>
        <url-pattern>/loadCounty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadSubcounty</servlet-name>
        <url-pattern>/loadSubcounty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadEditFacility</servlet-name>
        <url-pattern>/loadEditFacility</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveEditedFacilities</servlet-name>
        <url-pattern>/saveEditedFacilities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeFacilitySession</servlet-name>
        <url-pattern>/changeFacilitySession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readbaselines</servlet-name>
        <url-pattern>/readbaselines</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>monthyearsession</servlet-name>
        <url-pattern>/monthyearsession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadDQA</servlet-name>
        <url-pattern>/loadDQA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moh731_Facility</servlet-name>
        <url-pattern>/moh731_Facility</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>errors731</servlet-name>
        <url-pattern>/errors731</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allStaticReports</servlet-name>
        <url-pattern>/allStaticReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DQA711</servlet-name>
        <url-pattern>/DQA711</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setFormSession</servlet-name>
        <url-pattern>/setFormSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moh711_Facility</servlet-name>
        <url-pattern>/moh711_Facility</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadReportedForms</servlet-name>
        <url-pattern>/loadReportedForms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadQuarter</servlet-name>
        <url-pattern>/loadQuarter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moh731_district</servlet-name>
        <url-pattern>/moh731_district</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moh711_StaticReport</servlet-name>
        <url-pattern>/moh711_StaticReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staticReportExcel731</servlet-name>
        <url-pattern>/staticReportExcel731</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moh731_subSection</servlet-name>
        <url-pattern>/moh731_subSection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadDistricts</servlet-name>
        <url-pattern>/loadDistricts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadFacils</servlet-name>
        <url-pattern>/loadFacils</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadAllForms</servlet-name>
        <url-pattern>/loadAllForms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadSubSection</servlet-name>
        <url-pattern>/loadSubSection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadSection</servlet-name>
        <url-pattern>/loadSection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sectionsReport</servlet-name>
        <url-pattern>/sectionsReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pdf731</servlet-name>
        <url-pattern>/pdf731</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadReportingPeriod</servlet-name>
        <url-pattern>/loadReportingPeriod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadSemiAnnual</servlet-name>
        <url-pattern>/loadSemiAnnual</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadQuarters</servlet-name>
        <url-pattern>/loadQuarters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excelstaticreports</servlet-name>
        <url-pattern>/excelstaticreports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kmmpexcel</servlet-name>
        <url-pattern>/kmmpexcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vmmcpdf</servlet-name>
        <url-pattern>/Vmmcpdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vmmcexcel</servlet-name>
        <url-pattern>/vmmcexcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genderpdf</servlet-name>
        <url-pattern>/genderpdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genderexcel</servlet-name>
        <url-pattern>/genderexcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nutritionpdf</servlet-name>
        <url-pattern>/nutritionpdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nutritionexcel</servlet-name>
        <url-pattern>/nutritionexcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertyearmonth</servlet-name>
        <url-pattern>/insertyearmonth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tbpdf</servlet-name>
        <url-pattern>/tbpdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moh711_excelReport</servlet-name>
        <url-pattern>/moh711_excelReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tb_excelReport</servlet-name>
        <url-pattern>/tb_excelReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportsTracker731</servlet-name>
        <url-pattern>/reportsTracker731</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>datimReport</servlet-name>
        <url-pattern>/datimReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cleanCumulatives</servlet-name>
        <url-pattern>/cleanCumulatives</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>datimHTCReport</servlet-name>
        <url-pattern>/datimHTCReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allformsreportstracker</servlet-name>
        <url-pattern>/allformsreportstracker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>datimvmmc</servlet-name>
        <url-pattern>/datimvmmc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>datimPMTCT</servlet-name>
        <url-pattern>/datimPMTCT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadPMTCT_FO</servlet-name>
        <url-pattern>/loadPMTCT_FO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verificationreports</servlet-name>
        <url-pattern>/verificationreports</url-pattern>
    </servlet-mapping>
</web-app>
